rules:
    - Apie\ApiePhpstanRules\ValueObjectHasNoConstructor
    - Apie\ApiePhpstanRules\ObjectShouldNotImplementMultipleInterfaces
    - Apie\ApiePhpstanRules\ValueObjectWithArrayShouldBeComposite
    - Apie\ApiePhpstanRules\EntityGetIdShouldBeSpecific
parameters:
    ignoreErrors:
        # you do not have to specify subtype of ItemList or Itemhashmap.
        -
            message: '#generic class Apie\\Core\\Lists\\Item(List|Hashmap) (but |)does not specify its types: T#'
            reportUnmatched: false
        # issue with dependency identifier and entity and generics.
        -
            message: '# of Apie\\Core\\Entities\\EntityInterface>#'
            reportUnmatched: false
        -
            message: '#\(Apie\\Core\\Identifiers\\IdentifierInterface<static#'
            reportUnmatched: true